.bookmarksContainer {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping of items */
  justify-content: center;
  margin: 10px;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.recsButtonContainer {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}
.recsButton {
  height: 100%;
}
