@font-face {
  font-family: "IronFist";
  src: url("./Iron-Fist.ttf.svg") format("svg");
}
.rankingsTitle {
  padding-top: 100px;
  text-align: center;
  color: #c7983c;
  font-size: 100px;
}
.sub {
  font-size: 35px;
  text-align: center;
  color: white;
}
#container {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  height: 200px;
  border: 3px solid #ffe56f;
  margin: 20px;
  font-size: 30px;
  background-color: #c7983c;
  border-radius: 2px;
  overflow: hidden;
}
.row:hover {
  box-shadow: 15px 9px 9px black;
  transform: scale(1.05);
}

.name {
  position: relative;
  width: 75%;
  margin: 50px;
}

.score {
  width: 15%;
  height: 44%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border: 2px solid;
  box-sizing: border-box;
  margin-top: 10px;
  margin: 30px;
}
.leaderboardImage {
  height: 200%;
}

.rank {
  width: 20%;
  text-align: center;
}
