.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  margin-top: 120px;
  flex-direction: column;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 15px 9px 9px black;
  border-radius: 50px;
  overflow: hidden;
  padding: 20px;
  background-color: rgba(24, 24, 24, 255);
}
.profileImage {
  width: 90%;
  border-radius: 50px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}
.profileTitle {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.profileSub {
  font-size: 30px;
  padding-left: 30px;
  margin-top: 10px;
}
