h1 {
  color: white;
}
.recommendationsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.highlightedMoviePic {
  width: 50%;
  margin-bottom: 20px;
}
.recTitle {
  padding-top: 75px;
  text-align: center;
  font-size: 60px;
}
.highlightedMovie {
  display: flex;
  justify-content: space-around;
}
.highlightedMovieText {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 50px;
  width: 40%;
}
.overview {
  font-size: 20px;
  text-align: center;
}
.releaseDate {
  font-size: 30px;
}
.fetchButton {
  width: 100%;
  color: black;
}
.loadingContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.buttonContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  margin-bottom: 50px;
}
.buttonContain button {
  width: 50%;
  height: 100%;
}
.newMovieTitle {
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
}
.personalRecs {
  text-align: center;
  font-size: 40px;
}
.pageContainer {
  margin-left: 7%;
  margin-right: 7%;
}
